@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Open+Sans:400,600");



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}



.image-zoom {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  transition: all 10s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

.swiper-slide-active .image-zoom {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); }

@media (max-width: 767.98px) {
  .swiper-container [class*="vh"] {
    height: auto !important;
    max-height: auto !important; } }
